.jumbotron{
    background-image: url('jumbtron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    border-radius: 0;
    background-blend-mode: darken;
    margin: 0;
}
.container-fluid {
    width: 100%;
    padding-right:0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
#movies-container{
    min-height: 405px;
    width: 100%;
    background-color: #343a40;
    padding-top: 100px;

}
.well{
    margin-bottom: 100px;
    background-color: #343a40;
}
#movies .well {
    height: 360px;
}
#movies .well img{
    height: 260px;
    /* object-fit: fill; */
    width: 90%;
}

#movie-title{
    padding:20px 15px;
}

@media (max-width: 576px){
    .mx-sm-aut {
        margin-left: auto!important;
        margin-right: auto!important;
    }
    #single-movie-img{
        height: 300px;
    }
}